   .column {
    display: none;  /* Hide columns by default */
  }
  
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Add a grey background color on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background color to the active button */
  .btn.active {
    background-color: #666;
    color: white;
  }