#cursive {
    font-family: 'Lily Script One', cursive;
    font-size: 10rem;
    color: #9c6644;
}

#logo {
    font-family: 'Lily Script One', cursive;
}

body {
    background-color: white;
}

#header {
    height: 600px;
    background-image: url(../images/mustafa-matkawala-6oFE6fukDEQ-unsplash.jpg);
    background-size: cover;
    max-width: 100%;
}

#productTitle{
    font-size: 50px;
    text-align: center;
}

#productHeader{
    position: relative;
    text-align: center;
    height: 75vh;
}

#productHeader img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
}

#productHeaderText h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7.5rem;
    font-family: 'Lily Script One', cursive;
    color: #9d0208;
}

@media screen and (max-width: 600px) {
    #productHeaderText h1 {
        font-size: 5.5rem;
    }
}