#cursive {
    font-family: 'Lily Script One', cursive;
    font-size: 10rem;
    color: #9c6644;
}

#logo {
    font-family: 'Lily Script One', cursive;
}

body {
    background-color: white;
}

#header {
    height: 600px;
    background-image: url(../images/mustafa-matkawala-6oFE6fukDEQ-unsplash.jpg);
    background-size: cover;
    max-width: 100%;
}

#indexTitle{
    font-size: 50px;
    text-align: center;
}

#indexHeader{
    position: relative;
    text-align: center;
}
#indexHeaderText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    font-family: 'Lily Script One', cursive;
    color: brown;
}

@media screen and (max-width: 600px) {
    #indexHeaderText {
      display: none;
    }
}