#cursive {
    font-family: 'Lily Script One', cursive;
    font-size: 10rem;
    color: #9c6644;
}

body {
    background-color: #aeeae3;
}

#header {
    height: 100vh;
    background-image: url(../images/mustafa-matkawala-6oFE6fukDEQ-unsplash.jpg);
    background-size: cover;
    max-width: 100%;
}